@model Assignment_thinhvdph26886.Models.User
@inject IHttpContextAccessor http
@{
    ViewBag.Title = "Login";
    string username = http.HttpContext.Session.GetString("username");
    string role = http.HttpContext.Session.GetString("role");
}

<center>
    <div class="card" style="width:500px">
        <article class="card-body">
            <a><img src="~/images/b1.jpg" width=100px /></a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <hr>
            <form method="post" action="/Home/Login">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "Email or Username" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" value="Login"> Login  </button>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="small" href="#">Forgot password?</a>
                        </div>
                    </div>
                    <div class="row justify-content-md-start">
                        @if (!string.IsNullOrEmpty(username))
                        {
                            

                                <center>
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                                        </div>
                                    </div>
                                </center>

                            
                        }
                    </div>
                }
            </form>
        </article>
    </div>
</center>